root = true

[*]
charset = utf-8-bom
end_of_line = crlf
indent_size = 4
indent_style = space
insert_final_newline = true
tab_width = 4
trim_trailing_whitespace = true

[.bowerrc|*.yml]
charset = utf-8

# Xml project files
[*.*proj]
indent_size = 2

# Xml build files
[*.builds]
indent_size = 2

# Xml files
[*.{xml,stylecop,resx,ruleset,xsd}]
indent_size = 2

# Xml config files
[*.{props,targets,config,nuspec,vsixmanifest,vsct}]
indent_size = 2

# JSON files
[*.json]
indent_size = 2

# Shell scripts
[*.sh]
end_of_line = lf

# ReSharper properties
resharper_csharp_wrap_lines=false
resharper_enforce_line_ending_style=true
resharper_js_wrap_lines=false
resharper_protobuf_wrap_lines=false
resharper_use_indent_from_vs=false
resharper_vb_wrap_lines=false
resharper_xmldoc_wrap_lines=false
resharper_xml_wrap_lines=false


